.jumbotron {
	padding-top: 1cm;
	background-color: #b3d1ff
}

.about {
	padding-top: 1cm;
	padding-bottom: 1cm;
}

#projects {
	background-color: #b3d1ff
}

.baris1 {
	padding-top: 1cm;
	padding-bottom: 1cm;
}

.baris2 {
	padding-bottom: 1cm;
}

.jumbotron {
	padding-top: 4cm;
}

section {
	padding-top: 10rem;
}