* {
    padding:0;
    margin:0;
    font-family: times-new-roman;
}
a {
    color: inherit;
    text-decoration: none;
}
.medsos {
    padding:5px 0;
    background-color: #00cfde;
}
.medsos ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
.container {
    width:80%;
    margin:0 auto;
}
.container:after {
    content:'';
    display: block;
    clear: both;
}
header h1 {
    float: left;
    padding:15px 0;
    color: #00cfde;
}
header ul {
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li a {
    padding:25px 20px;
    display: inline-block;
}
header ul li a:hover {
    background-color: #75f6ff;
    color: #fff;
}
.active {
    background-color: #75f6ff;
    color: #fff;
}
.banner {
    height: 60vh;
    background-image: url('../img/banner.png');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:after {
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(117, 246, 255);
}
.banner h2 {
    color: #fff;
    z-index: 1;
    padding: 20px 25px;
    border:3px solid #fff;
}
section {
    padding:50px 0;
}
section h3 {
    text-align: center;
    padding:20px 0;
    color: #75f6ff;
    margin-bottom: 25px;
}
.about,
.service {
    padding-bottom: 100px;
}
.about p {
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.service {
    background-color: #ffffff;
}
.box {
    color: #75f6ff;
}
.box:after {
    content: '';
    display: block;
    clear: both;
}
.box .col-4 {
    width:25%;
    padding:20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.icon {
    width:70px;
    height:70px;
    border:1px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    margin:0 auto;
}
.box .col-4 h4 {
    margin:20px 0;
}
footer {
    padding:30px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.bg-loader {
    background-color: #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-loader .loader {
    width:100px;
    height: 100px;
    border:3px solid #fff;
    border-radius: 50%;
    border-top-color: #75f6ff;
    border-right-color: #75f6ff;
    border-bottom-color: #75f6ff;
    animation: puterin .8s linear infinite;
}
.label {
    background-color: #75f6ff;
    color: #fff;
}
@keyframes puterin {
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 768px){
    .container {
        width:90%;
    }
    header h1 {
        text-align: center;
        float: none;
    }
    header ul {
        text-align: center;
        float: none;
    }
    .box .col-4 {
        width:100%;
        float: none;
        margin-bottom: 20px;
    }
}
